<h2>Thanks for shopping with us!</h2>
<p>Let's review your order: </p>

<ul>
	<% @order.order_items.each do |k,v| %>
		<li><%= Product.find(k).name %>, <%= v %></li>
	<% end %>
</ul>

<p>
	<strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>